# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Node.js dependencies
/node_modules/

# Next.js build output
/.next/
/out/

# Production build output
/build

# Debug log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Env files (ensure sensitive keys are not committed)
.env*
*.env.local
*.env.production
*.env.development

# Vercel deployment files
.vercel/

# TypeScript build info
*.tsbuildinfo
next-env.d.ts

# Ignore log files
*.log

# Ignore local IDE configurations (e.g. VS Code)
.vscode/

# Ignore dependency lock files (if you are using pnpm, yarn, or npm)
package-lock.json
yarn.lock
pnpm-lock.yaml